n8n-workflows/github-to-notion-workflow.json
{
  "name": "GitHub to Notion Sync v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-to-notion",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "github-to-notion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-main-branch",
      "name": "Filter Main Branch",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract docs/*.md files from commits\nconst payload = $input.first().json.body || $input.first().json;\nconst commits = payload.commits || [];\nconst repo = payload.repository;\n\nconst docFiles = [];\nconst deletedFiles = [];\n\nfor (const commit of commits) {\n  const addedModified = [...(commit.added || []), ...(commit.modified || [])];\n  for (const file of addedModified) {\n    if (file.startsWith('docs/') && file.endsWith('.md')) {\n      docFiles.push({\n        path: file,\n        repo: repo.full_name,\n        owner: repo.owner.login || repo.owner.name,\n        repoName: repo.name,\n        action: 'upsert'\n      });\n    }\n  }\n  \n  for (const file of (commit.removed || [])) {\n    if (file.startsWith('docs/') && file.endsWith('.md')) {\n      deletedFiles.push({\n        path: file,\n        repo: repo.full_name,\n        owner: repo.owner.login || repo.owner.name,\n        repoName: repo.name,\n        action: 'delete'\n      });\n    }\n  }\n}\n\nconst seen = new Set();\nconst uniqueFiles = [...docFiles, ...deletedFiles].filter(f => {\n  const key = f.repo + ':' + f.path;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nreturn uniqueFiles.map(f => ({ json: f }));"
      },
      "id": "extract-doc-files",
      "name": "Extract Doc Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-files",
              "leftValue": "={{ $json.path }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-doc-files",
      "name": "Has Doc Files?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-delete",
              "leftValue": "={{ $json.action }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-delete-action",
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{ $json.owner }}",
        "repository": "={{ $json.repoName }}",
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "id": "get-file-content",
      "name": "Get File Content",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1350, 200],
      "credentials": {
        "githubOAuth2Api": {
          "id": "Hg21ZsCbyU49McTn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process ALL input items, not just the first one\nconst inputItems = $input.all();\nconst allFileData = $('Extract Doc Files').all();\nconst results = [];\n\n// Parse inline markdown to Notion rich_text with proper bold handling\nfunction parseInline(text) {\n  const result = [];\n  // Replace hyphens with em dashes in separators\n  text = text.replace(/ - /g, ' – ');\n  let i = 0;\n  while (i < text.length) {\n    // Bold **text**\n    if (text.slice(i, i+2) === '**') {\n      const end = text.indexOf('**', i+2);\n      if (end !== -1) {\n        result.push({ type: 'text', text: { content: text.slice(i+2, end) }, annotations: { bold: true } });\n        i = end + 2;\n        continue;\n      }\n    }\n    // Code `text`\n    if (text[i] === '`') {\n      const end = text.indexOf('`', i+1);\n      if (end !== -1) {\n        result.push({ type: 'text', text: { content: text.slice(i+1, end) }, annotations: { code: true } });\n        i = end + 1;\n        continue;\n      }\n    }\n    // Link [text](url)\n    if (text[i] === '[') {\n      const bracketEnd = text.indexOf(']', i);\n      if (bracketEnd !== -1 && text[bracketEnd+1] === '(') {\n        const parenEnd = text.indexOf(')', bracketEnd);\n        if (parenEnd !== -1) {\n          const linkText = text.slice(i+1, bracketEnd);\n          const url = text.slice(bracketEnd+2, parenEnd);\n          result.push({ type: 'text', text: { content: linkText, link: { url } } });\n          i = parenEnd + 1;\n          continue;\n        }\n      }\n    }\n    // Collect plain text until next special char\n    let nextSpecial = text.length;\n    for (const char of ['**', '`', '[']) {\n      const pos = text.indexOf(char, i);\n      if (pos !== -1 && pos < nextSpecial) nextSpecial = pos;\n    }\n    if (nextSpecial > i) {\n      result.push({ type: 'text', text: { content: text.slice(i, nextSpecial) } });\n      i = nextSpecial;\n    } else {\n      result.push({ type: 'text', text: { content: text[i] } });\n      i++;\n    }\n  }\n  // Merge adjacent plain text segments\n  const merged = [];\n  for (const seg of result) {\n    if (merged.length > 0 && !seg.annotations && !merged[merged.length-1].annotations && !seg.text.link && !merged[merged.length-1].text.link) {\n      merged[merged.length-1].text.content += seg.text.content;\n    } else {\n      merged.push(seg);\n    }\n  }\n  return merged.length > 0 ? merged : [{ type: 'text', text: { content: text } }];\n}\n\nfor (let idx = 0; idx < inputItems.length; idx++) {\n  const binaryData = await this.helpers.getBinaryDataBuffer(idx, 'data');\n  const content = binaryData.toString('utf-8');\n  const fileData = allFileData[idx].json;\n  const path = fileData.path;\n  const repo = fileData.repo;\n\n  let title = path.split('/').pop().replace('.md', '').replace(/-/g, ' ');\n  const headingMatch = content.match(/^#\\s+(.+)$/m);\n  if (headingMatch) {\n    title = headingMatch[1];\n  }\n\n  let bodyContent = content;\n  const fmMatch = content.match(/^---\\n[\\s\\S]*?\\n---\\n([\\s\\S]*)$/);\n  if (fmMatch) {\n    bodyContent = fmMatch[1];\n  }\n\n  // Skip HTML comments and the H1 title line\n  const lines = bodyContent.split('\\n').filter(line => !line.match(/^<!--.*-->$/) && !line.match(/^#\\s/));\n  const blocks = [];\n\n  for (let i = 0; i < lines.length; i++) {\n    const line = lines[i];\n    if (!line.trim()) continue;\n    \n    if (line.startsWith('### ')) {\n      blocks.push({ object: 'block', type: 'heading_3', heading_3: { rich_text: parseInline(line.slice(4)) } });\n    } else if (line.startsWith('## ')) {\n      blocks.push({ object: 'block', type: 'heading_2', heading_2: { rich_text: parseInline(line.slice(3)) } });\n    } else if (line.startsWith('# ')) {\n      blocks.push({ object: 'block', type: 'heading_1', heading_1: { rich_text: parseInline(line.slice(2)) } });\n    } else if (line.startsWith('- ') || line.startsWith('* ')) {\n      const itemText = line.slice(2);\n      // Check if it's a phase item or plan item - use to_do block\n      const isPhase = itemText.match(/^\\*\\*Phase \\d+/);\n      const isPlan = itemText.match(/^\\d{2}-\\d{2}:/);\n      // Also check for task items like [ ] or [x]\n      const isTask = itemText.match(/^\\[[ x]\\]/);\n      if (isPhase || isPlan || isTask) {\n        const checked = itemText.includes('✓') || itemText.match(/^\\[x\\]/i);\n        const cleanText = itemText.replace(/^\\[[ x]\\]\\s*/, '');\n        blocks.push({ object: 'block', type: 'to_do', to_do: { rich_text: parseInline(cleanText), checked } });\n      } else {\n        blocks.push({ object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: parseInline(itemText) } });\n      }\n    } else if (/^\\d+\\.\\s/.test(line)) {\n      blocks.push({ object: 'block', type: 'numbered_list_item', numbered_list_item: { rich_text: parseInline(line.replace(/^\\d+\\.\\s/, '')) } });\n    } else if (line.startsWith('```')) {\n      const lang = line.slice(3).trim() || 'plain text';\n      const codeLines = [];\n      i++;\n      while (i < lines.length && !lines[i].startsWith('```')) {\n        codeLines.push(lines[i]);\n        i++;\n      }\n      blocks.push({ object: 'block', type: 'code', code: { rich_text: [{ type: 'text', text: { content: codeLines.join('\\n') } }], language: lang } });\n    } else if (line.startsWith('> ')) {\n      blocks.push({ object: 'block', type: 'quote', quote: { rich_text: parseInline(line.slice(2)) } });\n    } else if (line.startsWith('|')) {\n      // Parse markdown table\n      const tableLines = [line];\n      while (i + 1 < lines.length && lines[i + 1].startsWith('|')) {\n        i++;\n        tableLines.push(lines[i]);\n      }\n      // Filter out separator rows (|---|---| or |:---|:---:|)\n      const dataRows = tableLines.filter(row => !row.match(/^\\|[\\s:\\-|]+\\|$/));\n      if (dataRows.length > 0) {\n        const parsedRows = dataRows.map(row => {\n          const cells = row.split('|').slice(1, -1).map(cell => parseInline(cell.trim()));\n          return { type: 'table_row', table_row: { cells } };\n        });\n        const tableWidth = parsedRows[0]?.table_row.cells.length || 1;\n        blocks.push({ object: 'block', type: 'table', table: { table_width: tableWidth, has_column_header: true, has_row_header: false, children: parsedRows } });\n      }\n    } else {\n      blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: parseInline(line) } });\n    }\n  }\n\n  results.push({\n    json: {\n      title,\n      github_path: repo + ':' + path,\n      github_repo: repo,\n      blocks: blocks.slice(0, 100),\n      action: fileData.action\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "convert-md-to-notion",
      "name": "Convert MD to Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2cf4df89-4a69-819f-941c-f3f8703ef620"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({ \"property\": \"github_path\", \"rich_text\": { \"equals\": $json.github_path } }) }}",
        "options": {}
      },
      "id": "find-existing-page",
      "name": "Find Existing Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1790, 200],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge query results with markdown data - iterate through all items\nconst inputItems = $input.all();\nconst mdDataItems = $('Convert MD to Notion').all();\nconst results = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const queryResult = inputItems[i].json;\n  const mdData = mdDataItems[i].json;\n  \n  if (queryResult.id) {\n    results.push({ json: { exists: true, pageId: queryResult.id, ...mdData } });\n  } else {\n    results.push({ json: { exists: false, ...mdData } });\n  }\n}\n\nreturn results;"
      },
      "id": "merge-decision",
      "name": "Merge Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "page-exists",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "page-exists",
      "name": "Page Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2230, 200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2cf4df89-4a69-819f-941c-f3f8703ef620"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "github_path|rich_text",
              "textContent": "={{ $json.github_path }}"
            },
            {
              "key": "github_repo|rich_text",
              "textContent": "={{ $json.github_repo }}"
            },
            {
              "key": "last_synced|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "sync_source|select",
              "selectValue": "github"
            },
            {
              "key": "sync_enabled|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "blockUi": {
          "blockValues": []
        },
        "options": {}
      },
      "id": "create-notion-page",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2450, 300],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.pageId }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "title": "={{ $json.title }}"
            },
            {
              "key": "last_synced|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "sync_source|select",
              "selectValue": "github"
            }
          ]
        },
        "options": {}
      },
      "id": "update-notion-page",
      "name": "Update Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2450, 100],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2cf4df89-4a69-819f-941c-f3f8703ef620"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({ \"property\": \"github_path\", \"rich_text\": { \"equals\": $json.repo + ':' + $json.path } }) }}",
        "options": {}
      },
      "id": "find-page-to-archive",
      "name": "Find Page to Archive",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1350, 400],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "archived_from_github|checkbox",
              "checkboxValue": true
            },
            {
              "key": "last_synced|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "archived": true
        }
      },
      "id": "archive-notion-page",
      "name": "Archive Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1570, 400],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Merge Decision').item.json.pageId }}/children?page_size=100",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" }
          ]
        },
        "options": {}
      },
      "id": "get-old-blocks",
      "name": "Get Old Blocks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 100],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Output each block as separate item for deletion - process all items\nconst inputItems = $input.all();\nconst mergeItems = $('Merge Decision').all();\nconst results = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const blocksResponse = inputItems[i].json;\n  const oldBlocks = blocksResponse.results || [];\n  const pageId = mergeItems[i].json.pageId;\n  const blocks = mergeItems[i].json.blocks;\n\n  if (oldBlocks.length === 0) {\n    results.push({ json: { skipDelete: true, pageId, blocks } });\n  } else {\n    for (const block of oldBlocks) {\n      results.push({ json: { blockId: block.id, pageId, blocks } });\n    }\n  }\n}\n\nreturn results;"
      },
      "id": "split-blocks-to-delete",
      "name": "Split Blocks to Delete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2890, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [{ "id": "skip-delete", "leftValue": "={{ $json.skipDelete }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-blocks-to-delete",
      "name": "Has Blocks to Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3000, 100]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.blockId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Notion-Version", "value": "2022-06-28" }] },
        "options": {}
      },
      "id": "delete-single-block",
      "name": "Delete Block",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3220, 200],
      "credentials": { "notionApi": { "id": "vGGxyUaNL70rqYcQ", "name": "Notion account" } }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from Split Blocks to Delete - deduplicate by pageId\nconst splitItems = $('Split Blocks to Delete').all();\n\n// Deduplicate by pageId (multiple block deletes per page)\nconst byPage = {};\nfor (const item of splitItems) {\n  const pageId = item.json.pageId;\n  const blocks = item.json.blocks;\n  if (pageId && !byPage[pageId]) {\n    byPage[pageId] = { pageId, blocks };\n  }\n}\n\n// Return one item per unique page\nreturn Object.values(byPage).map(data => ({ json: data }));"
      },
      "id": "prepare-append",
      "name": "Prepare Append",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3440, 100]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $json.pageId }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ children: $json.blocks }) }}",
        "options": {}
      },
      "id": "append-blocks-update",
      "name": "Append Blocks (Update)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3660, 100],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/blocks/{{ $('Create Notion Page').item.json.id }}/children",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Notion-Version", "value": "2022-06-28" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ children: $('Merge Decision').item.json.blocks }) }}",
        "options": {}
      },
      "id": "append-blocks-create",
      "name": "Append Blocks (Create)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2670, 300],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Filter Main Branch", "type": "main", "index": 0 }]
      ]
    },
    "Filter Main Branch": {
      "main": [
        [{ "node": "Extract Doc Files", "type": "main", "index": 0 }]
      ]
    },
    "Extract Doc Files": {
      "main": [
        [{ "node": "Has Doc Files?", "type": "main", "index": 0 }]
      ]
    },
    "Has Doc Files?": {
      "main": [
        [{ "node": "Is Delete?", "type": "main", "index": 0 }]
      ]
    },
    "Is Delete?": {
      "main": [
        [{ "node": "Find Page to Archive", "type": "main", "index": 0 }],
        [{ "node": "Get File Content", "type": "main", "index": 0 }]
      ]
    },
    "Find Page to Archive": {
      "main": [
        [{ "node": "Archive Notion Page", "type": "main", "index": 0 }]
      ]
    },
    "Get File Content": {
      "main": [
        [{ "node": "Convert MD to Notion", "type": "main", "index": 0 }]
      ]
    },
    "Convert MD to Notion": {
      "main": [
        [{ "node": "Find Existing Page", "type": "main", "index": 0 }]
      ]
    },
    "Page Exists?": {
      "main": [
        [{ "node": "Update Notion Page", "type": "main", "index": 0 }],
        [{ "node": "Create Notion Page", "type": "main", "index": 0 }]
      ]
    },
    "Update Notion Page": {
      "main": [
        [{ "node": "Get Old Blocks", "type": "main", "index": 0 }]
      ]
    },
    "Get Old Blocks": {
      "main": [
        [{ "node": "Split Blocks to Delete", "type": "main", "index": 0 }]
      ]
    },
    "Split Blocks to Delete": {
      "main": [
        [{ "node": "Has Blocks to Delete?", "type": "main", "index": 0 }]
      ]
    },
    "Has Blocks to Delete?": {
      "main": [
        [{ "node": "Prepare Append", "type": "main", "index": 0 }],
        [{ "node": "Delete Block", "type": "main", "index": 0 }]
      ]
    },
    "Delete Block": {
      "main": [
        [{ "node": "Prepare Append", "type": "main", "index": 0 }]
      ]
    },
    "Prepare Append": {
      "main": [
        [{ "node": "Append Blocks (Update)", "type": "main", "index": 0 }]
      ]
    },
    "Create Notion Page": {
      "main": [
        [{ "node": "Append Blocks (Create)", "type": "main", "index": 0 }]
      ]
    },
    "Find Existing Page": {
      "main": [
        [{ "node": "Merge Decision", "type": "main", "index": 0 }]
      ]
    },
    "Merge Decision": {
      "main": [
        [{ "node": "Page Exists?", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
