n8n-workflows/github-to-notion-workflow.json
{
  "name": "GitHub to Notion Sync v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-to-notion",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "github-to-notion"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.body.ref }}",
              "rightValue": "refs/heads/main",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-main-branch",
      "name": "Filter Main Branch",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract docs/*.md files from commits\nconst payload = $input.first().json.body || $input.first().json;\nconst commits = payload.commits || [];\nconst repo = payload.repository;\n\nconst docFiles = [];\nconst deletedFiles = [];\n\nfor (const commit of commits) {\n  const addedModified = [...(commit.added || []), ...(commit.modified || [])];\n  for (const file of addedModified) {\n    if (file.startsWith('docs/') && file.endsWith('.md')) {\n      docFiles.push({\n        path: file,\n        repo: repo.full_name,\n        owner: repo.owner.login || repo.owner.name,\n        repoName: repo.name,\n        action: 'upsert'\n      });\n    }\n  }\n  \n  for (const file of (commit.removed || [])) {\n    if (file.startsWith('docs/') && file.endsWith('.md')) {\n      deletedFiles.push({\n        path: file,\n        repo: repo.full_name,\n        owner: repo.owner.login || repo.owner.name,\n        repoName: repo.name,\n        action: 'delete'\n      });\n    }\n  }\n}\n\nconst seen = new Set();\nconst uniqueFiles = [...docFiles, ...deletedFiles].filter(f => {\n  const key = f.repo + ':' + f.path;\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nreturn uniqueFiles.map(f => ({ json: f }));"
      },
      "id": "extract-doc-files",
      "name": "Extract Doc Files",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-files",
              "leftValue": "={{ $json.path }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-doc-files",
      "name": "Has Doc Files?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-delete",
              "leftValue": "={{ $json.action }}",
              "rightValue": "delete",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-delete-action",
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": "={{ $json.owner }}",
        "repository": "={{ $json.repoName }}",
        "filePath": "={{ $json.path }}",
        "additionalParameters": {}
      },
      "id": "get-file-content",
      "name": "Get File Content",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1350, 200],
      "credentials": {
        "githubOAuth2Api": {
          "id": "Hg21ZsCbyU49McTn",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binaryData = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst content = binaryData.toString('utf-8');\nconst fileData = $('Extract Doc Files').first().json;\nconst path = fileData.path;\nconst repo = fileData.repo;\n\nlet title = path.split('/').pop().replace('.md', '').replace(/-/g, ' ');\nconst headingMatch = content.match(/^#\\s+(.+)$/m);\nif (headingMatch) {\n  title = headingMatch[1];\n}\n\nlet bodyContent = content;\nconst fmMatch = content.match(/^---\\n[\\s\\S]*?\\n---\\n([\\s\\S]*)$/);\nif (fmMatch) {\n  bodyContent = fmMatch[1];\n}\n\nconst lines = bodyContent.split('\\n');\nconst blocks = [];\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  \n  if (line.startsWith('### ')) {\n    blocks.push({ object: 'block', type: 'heading_3', heading_3: { rich_text: [{ type: 'text', text: { content: line.slice(4) } }] } });\n  } else if (line.startsWith('## ')) {\n    blocks.push({ object: 'block', type: 'heading_2', heading_2: { rich_text: [{ type: 'text', text: { content: line.slice(3) } }] } });\n  } else if (line.startsWith('# ')) {\n    blocks.push({ object: 'block', type: 'heading_1', heading_1: { rich_text: [{ type: 'text', text: { content: line.slice(2) } }] } });\n  } else if (line.startsWith('- ') || line.startsWith('* ')) {\n    blocks.push({ object: 'block', type: 'bulleted_list_item', bulleted_list_item: { rich_text: [{ type: 'text', text: { content: line.slice(2) } }] } });\n  } else if (/^\\d+\\.\\s/.test(line)) {\n    blocks.push({ object: 'block', type: 'numbered_list_item', numbered_list_item: { rich_text: [{ type: 'text', text: { content: line.replace(/^\\d+\\.\\s/, '') } }] } });\n  } else if (line.startsWith('```')) {\n    const lang = line.slice(3).trim() || 'plain text';\n    const codeLines = [];\n    i++;\n    while (i < lines.length && !lines[i].startsWith('```')) {\n      codeLines.push(lines[i]);\n      i++;\n    }\n    blocks.push({ object: 'block', type: 'code', code: { rich_text: [{ type: 'text', text: { content: codeLines.join('\\n') } }], language: lang } });\n  } else if (line.startsWith('> ')) {\n    blocks.push({ object: 'block', type: 'quote', quote: { rich_text: [{ type: 'text', text: { content: line.slice(2) } }] } });\n  } else {\n    blocks.push({ object: 'block', type: 'paragraph', paragraph: { rich_text: [{ type: 'text', text: { content: line } }] } });\n  }\n}\n\nreturn [{\n  json: {\n    title,\n    github_path: repo + ':' + path,\n    github_repo: repo,\n    blocks: blocks.slice(0, 100),\n    action: fileData.action\n  }\n}];"
      },
      "id": "convert-md-to-notion",
      "name": "Convert MD to Notion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "// Query Notion for existing page and decide create vs update\nconst mdData = $input.first().json;\nconst dbId = '2cf4df89-4a69-817d-8b13-000b4d90598e';\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `https://api.notion.com/v1/databases/${dbId}/query`,\n  headers: {\n    'Authorization': `Bearer ${$env.NOTION_API_TOKEN}`,\n    'Notion-Version': '2022-06-28',\n    'Content-Type': 'application/json'\n  },\n  body: {\n    filter: {\n      property: 'github_path',\n      rich_text: { equals: mdData.github_path }\n    },\n    page_size: 1\n  }\n});\n\nconst results = response.results || [];\nif (results.length > 0) {\n  return [{ json: { exists: true, pageId: results[0].id, ...mdData } }];\n} else {\n  return [{ json: { exists: false, ...mdData } }];\n}"
      },
      "id": "find-or-create-decision",
      "name": "Find Or Create Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "page-exists",
              "leftValue": "={{ $json.exists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "page-exists",
      "name": "Page Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2230, 200]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2cf4df89-4a69-817d-8b13-000b4d90598e"
        },
        "title": "={{ $json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "github_path|rich_text",
              "textContent": "={{ $json.github_path }}"
            },
            {
              "key": "github_repo|rich_text",
              "textContent": "={{ $json.github_repo }}"
            },
            {
              "key": "last_synced|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "sync_source|select",
              "selectValue": "github"
            },
            {
              "key": "sync_enabled|checkbox",
              "checkboxValue": true
            }
          ]
        },
        "blockUi": {
          "blockValues": []
        },
        "options": {}
      },
      "id": "create-notion-page",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2450, 300],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.pageId }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Title|title",
              "textContent": "={{ $json.title }}"
            },
            {
              "key": "last_synced|date",
              "date": "={{ $now.toISO() }}"
            },
            {
              "key": "sync_source|select",
              "selectValue": "github"
            }
          ]
        },
        "options": {}
      },
      "id": "update-notion-page",
      "name": "Update Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [2450, 100],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "mode": "id",
          "value": "2cf4df89-4a69-817d-8b13-000b4d90598e"
        },
        "returnAll": false,
        "limit": 1,
        "filterType": "json",
        "filterJson": "={{ JSON.stringify({ \"property\": \"github_path\", \"rich_text\": { \"equals\": $json.repo + ':' + $json.path } }) }}",
        "options": {}
      },
      "id": "find-page-to-archive",
      "name": "Find Page to Archive",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1350, 400],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "archived_from_github|checkbox",
              "checkboxValue": true
            },
            {
              "key": "last_synced|date",
              "date": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {
          "archived": true
        }
      },
      "id": "archive-notion-page",
      "name": "Archive Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [1570, 400],
      "credentials": {
        "notionApi": {
          "id": "vGGxyUaNL70rqYcQ",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [{ "node": "Filter Main Branch", "type": "main", "index": 0 }]
      ]
    },
    "Filter Main Branch": {
      "main": [
        [{ "node": "Extract Doc Files", "type": "main", "index": 0 }]
      ]
    },
    "Extract Doc Files": {
      "main": [
        [{ "node": "Has Doc Files?", "type": "main", "index": 0 }]
      ]
    },
    "Has Doc Files?": {
      "main": [
        [{ "node": "Is Delete?", "type": "main", "index": 0 }]
      ]
    },
    "Is Delete?": {
      "main": [
        [{ "node": "Find Page to Archive", "type": "main", "index": 0 }],
        [{ "node": "Get File Content", "type": "main", "index": 0 }]
      ]
    },
    "Find Page to Archive": {
      "main": [
        [{ "node": "Archive Notion Page", "type": "main", "index": 0 }]
      ]
    },
    "Get File Content": {
      "main": [
        [{ "node": "Convert MD to Notion", "type": "main", "index": 0 }]
      ]
    },
    "Convert MD to Notion": {
      "main": [
        [{ "node": "Find Or Create Decision", "type": "main", "index": 0 }]
      ]
    },
    "Find Or Create Decision": {
      "main": [
        [{ "node": "Page Exists?", "type": "main", "index": 0 }]
      ]
    },
    "Page Exists?": {
      "main": [
        [{ "node": "Update Notion Page", "type": "main", "index": 0 }],
        [{ "node": "Create Notion Page", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
